
workspace/proyectostorify/.classpath
workspace/proyectostorify/.project
workspace/proyectostorify/.settings/org.eclipse.core.resources.prefs
workspace/proyectostorify/.settings/org.eclipse.jdt.core.prefs
workspace/proyectostorify/.settings/org.eclipse.m2e.core.prefs
