/* Estilo general para todos los botones */
.button, #btn-seleccion, #buscar, #alejo, .boton-principal, .boton-cancelar, .boton-gris {
    -fx-background-color: black;
    -fx-text-fill: white;
}

/* Estilo de los textos y títulos */
.title, .label, #textBold, #bigtitle, .bigtext {
    -fx-text-fill: white;
}

/* Hovers y pressed se mantienen como están */
.button:hover {
    -fx-background-color: #3d94ea;
}

.button:pressed {
    -fx-background-color: #61a7ee;
}

#btn-seleccion:hover {
    -fx-background-color: #b9d8f7;
}

#btn-seleccion:pressed {
    -fx-background-color: #96c5f4;
}

#buscar:hover {
    -fx-background-color: #e6eaed;
}

#alejo:hover {
    -fx-background-color: #e6eaed;
}

.boton-principal:hover {
    -fx-background-color: #f1f4f5;
}

.boton-principal:pressed {
    -fx-background-color: #e6eaed;
}

.boton-cancelar:hover {
    -fx-background-color: #f1f4f5;
}

.boton-gris:hover {
    -fx-background-color: #595959;
}

.boton-gris:pressed {
    -fx-background-color: #6d6c6c;
}

/* Estilos específicos para botones deshabilitados */
.button:disabled {
    -fx-background-color: #e85e5e;
    -fx-opacity: 1;
}

#btn-seleccion:disabled {
    -fx-background-color: #1a80e6;
    -fx-opacity: 1;
}

#btn-seleccion:disabled .label {
    -fx-text-fill: white;
}

#btn-seleccion:disabled .label:disabled {
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.boton-lateral:disabled {
    -fx-background-color: #e6eaed;
}

/* Otros estilos permanecen sin cambios */
.separator .line {
    -fx-background-color: #e6eaed;
    -fx-pref-height: 1;
    -fx-border-color: null;
}

#nopadding {
    -fx-padding: 0;
}

.button .text, .boton-principal .text {
    -fx-font-family: "Arial black";
    -fx-font-weight: bold;
    -fx-font-size: 10px;
    -fx-text-fill: white;
}

/* Aumentar el tamaño de letra de .title */
.title {
    -fx-font-family: "Arial black";
    -fx-font-weight: bold;
    -fx-font-size: 20px !important; /* Tamaño de letra aumentado con !important */
    -fx-text-fill: white;
}

/* Nueva clase .subtitle con las propiedades originales de .title */
.subtitle {
    -fx-font-family: "Arial black";
    -fx-font-weight: bold;
    -fx-font-size: 14px; /* Tamaño de letra original de .title */
    -fx-text-fill: white;
}

.label {
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

#textBold {
    -fx-font-family: "Arial black";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

#bigtitle {
    -fx-font-family: "Arial black";
    -fx-font-weight: bold;
    -fx-font-size: 38px;
    -fx-text-fill: white;
}

.bigtext {
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.boton-perfil {
    -fx-padding: 5;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}

#boton-lateral {
    -fx-alignment: center-left;
    -fx-text-fill: white;
}

/* Cambios en los text-fields */
.text-field, .password-field {
    -fx-background-radius: 10;
    -fx-background-color: #404040; /* Gris oscuro */
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

/* Estilo del ComboBox */
.combo-box {
    -fx-background-color: #404040; /* Fondo gris oscuro */
    -fx-text-inner-color: white; /* Color del texto dentro del ComboBox */
}

/* Estilo del desplegable del ComboBox */
.combo-box-popup .list-view {
    -fx-background-color: #404040; /* Fondo gris oscuro */
    -fx-text-fill: white; /* Letras blancas */
}

/* Estilo del item seleccionado en la lista desplegable */
.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #595959; /* Fondo azul */
    -fx-text-fill: white; /* Letras blancas */
}

/* Estilo del item no seleccionado en la lista desplegable */
.combo-box-popup .list-view .list-cell {
    -fx-background-color: #404040; /* Fondo gris oscuro */
    -fx-text-fill: white; /* Letras blancas */
}

/* Estilo del ícono desplegable del ComboBox */
.combo-box .arrow-button {
    -fx-background-color: #404040; /* Fondo gris oscuro */
    -fx-text-fill: white; /* Letras blancas */
}

/* Estilo del botón presionado del ComboBox */
.combo-box .arrow-button:pressed {
    -fx-background-color: #1a80e6; /* Fondo azul */
    -fx-text-fill: white; /* Letras blancas */
}

/* Estilo del botón al pasar el ratón sobre el ComboBox */
.combo-box-base .list-cell{
    -fx-text-fill: white; /* Letras blancas */
   /* Color del texto dentro del ComboBox */
}

.combo-box .arrow-button:hover {
    -fx-background-color: #595959; /* Fondo gris más oscuro */
    
}


